<header role="banner" class="sticky-top container-fluid px-1">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand d-lg-none" href="#">{{ site.title }}</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sitenav"
            aria-controls="sitenav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="sitenav">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 small mx-auto">
                <li class="nav-item {% if page.permalink == '/' %}active{% endif %}"><a class="nav-link"
                        href="{{ '/' | relative_url }}"><span class="fa fa-home"></span> Inicio</a></li>
                <li class="nav-item {% if page.permalink == 'docentes/' %}active{% endif %}"><a class="nav-link"
                        href="{{ 'docentes/' | relative_url }}"><span class="fa fa-chalkboard-teacher"></span>
                        Docentes</a></li>
                <li class="nav-item {% if page.permalink == 'regimen/' %}active{% endif %}"><a class="nav-link"
                        href="{{ 'regimen/' | relative_url }}"><span class="fa fa-tasks"></span> Régimen</a></li>
                <li class="nav-item {% if page.permalink == 'calendario/' %}active{% endif %}"><a class="nav-link"
                        href="{{ 'calendario/' | relative_url }}"><span class="fa fa-calendar-alt"></span>
                        Calendario</a></li>
                <li class="nav-item {% if page.permalink == 'tps/' %}active{% endif %}"><a class="nav-link"
                        href="{{ 'tps/' | relative_url }}"><span class="fa fa-briefcase"></span> TPs</a></li>
                <!-- {% assign menu_material = "/bibliografia/, /material, /faq/" | split: ", " %} -->
                <li
                        class="nav-item dropdown {% if page.permalink contains 'material' or menu_material contains page.permalink %}active{% endif %}">
                        <a class="nav-link dropdown-toggle" href="#" role="button" id="matDropdown" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <span class="fa fa-paperclip"></span> Material</a>
                        <ul class="dropdown-menu">
                                <li class="{% if page.permalink == 'links_utiles/' %}active{% endif %}"><a class="dropdown-item"
                                                href="{{ 'material/links_utiles/' | relative_url }}"><span class="fa fa-book"></span> Links Útiles</a></li>
                                <li class="{% if page.permalink == 'instalacion_linux/' %}active{% endif %}"><a class="dropdown-item"
                                                href="{{ 'material/instalacion_linux/' | relative_url }}"><span class="fa fa-book-reader"></span> Instalación de Linux</a></li>
                        </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>